@import "tailwindcss";

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}

.animate-slide-in-down {
    animation-name: slideInDown;
    animation-duration: 0.25s;
    /* faster */
    animation-fill-mode: both;
}

.animate-slide-out-up {
    animation-name: slideOutUp;
    animation-duration: 0.25s;
    /* faster */
    animation-fill-mode: both;
}